.search-input {
  font-size: 18px;
  padding: 2px;
  margin-left: 3px;
}

.form-field {
  min-width: 50%;
}

.title {
  max-height: 150px;
}

.button-search {
  background-color: #c2185b;
  border: 1px solid white;
  width: 110px;
  height: 30px;
  border-radius: 5px;
  color: white;
  margin-left: 10px;
}
